<div class="bg-gray-50 pt-0" id="servicios">
  <main class="container mx-auto px-6 py-16 space-y-10">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-12">
      ¿Cómo funciona Norepit?
    </h2>
    <div class="grid md:grid-cols-3 gap-8">
      <div
        [routerLink]="['/tutorSearch']"
        class="cursor-pointer rounded-xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300"
      >
        <div
          class="bg-blue-100 rounded-full h-16 w-16 flex items-center justify-center mx-auto mb-4"
        >
          <svg
            class="h-8 w-8 text-blue-600"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            ></path>
          </svg>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Busca tu Tutor</h3>
        <p class="text-gray-600">
          Encuentra fácilmente tutores expertos en la materia que necesitas.
        </p>
      </div>
      <div
        class="bg-white rounded-xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300"
      >
        <div
          class="bg-blue-100 rounded-full h-16 w-16 flex items-center justify-center mx-auto mb-4"
        >
          <svg
            class="h-8 w-8 text-blue-600"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-2">
          Agenda tu Clase
        </h3>
        <p class="text-gray-600">
          Coordina horarios flexibles que se ajusten a tu disponibilidad.
        </p>
      </div>
      <div
        class="bg-white rounded-xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300"
      >
        <div
          class="bg-blue-100 rounded-full h-16 w-16 flex items-center justify-center mx-auto mb-4"
        >
          <svg
            class="h-8 w-8 text-blue-600"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-2">
          Alcanza tus Metas
        </h3>
        <p class="text-gray-600">
          Mejora tus calificaciones y comprensión con ayuda personalizada.
        </p>
      </div>
    </div>
    <div
      class="mt-12 text-center bg-blue-50 p-6 rounded-lg border border-blue-100 shadow-sm max-w-4xl mx-auto"
    >
      <p class="text-lg md:text-xl font-medium text-blue-800">
        Y no solo conectas con tutores: también te ofreceremos más adelante
        <span class="font-semibold text-blue-700"
          >guías de estudio, recursos clave</span
        >
        y
        <span class="font-semibold text-blue-700"
          >'radiografías' de materias</span
        >
        para que apruebes satisfactoriamente.
      </p>
    </div>
  </main>
</div>
