<section
  class="relative h-[70vh] min-h-[740px] flex items-center justify-center text-white"
>
  <div
    class="absolute inset-0 bg-[url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=2071&auto=format&fit=crop')] bg-cover bg-center"
  ></div>

  <div class="absolute inset-0 bg-blue-900/60"></div>
  <div class="relative z-10 container mx-auto px-6 text-center">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4 leading-tight">
      Alcanza Tu Potencial Académico con Norepit
    </h1>
    <p class="text-lg md:text-xl text-blue-100 mb-8 max-w-3xl mx-auto">
      Conectamos estudiantes con tutores expertos para ayudarte a superar tus
      desafíos y lograr tus metas educativas.
    </p>
    <div
      class="flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4"
    >
      <a
        [routerLink]="['/tutorSearch']"
        class="bg-blue-600 hover:bg-blue-500 text-white font-semibold py-3 px-8 rounded-lg shadow-md transition duration-200 text-lg"
      >
        Buscar un Tutor
      </a>
      <a
        href="#"
        class="border-2 border-white hover:bg-white hover:text-blue-900 text-white font-semibold py-3 px-8 rounded-lg transition duration-200 text-lg"
      >
        Ver Servicios
      </a>
    </div>
  </div>
</section>
