/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Ajuste preciso para compensar el header fijo */
:target {
  scroll-margin-top: 1rem; /* 80px - ajusta según la altura de tu header */
}

